html,
body {
    height: 100%;
}

.table th, .table td {
    padding: 0.25rem;
}

.wrap, .wrapper {
    height: 100vh;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap .container .wrapper .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #a5b6ff;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.footer > .container {
    display: flex;
    justify-content: space-between;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Sidebar */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 90vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
/*    border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li button {
    text-align: left;
    padding: 10px 8px;
    font-size: 1.1em;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 1px solid #47748b;
}

#sidebar ul li a:hover, #sidebar ul li button:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar + .sidebar-collapse {
        color: #6d7fcc;
        left: 5px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebar.active + .sidebar-collapse {
        left: -20px;
        color: #ffffff;
    }
}

#sidebar a, #sidebar button {
    color: #444444;
}

.server-root-link {
    font-size: 1.75rem;
}

.sidebar-collapse {
    position: relative;
    left: -20px;
    color: #ffffff;
}

.sidebar-collapse.navbar-collapsed {
    color: #6d7fcc;
    left: 5px;
}

/* Bootstrap 4 components */

h1 {
    font-size: 2rem;
}
.breadcrumb {
    margin-top: 5px;
}

.breadcrumb li.active {
    color: #7386d5;
}

.breadcrumb li:not(.active) {
    color: #7386d5;
}

.breadcrumb li a {
    color: #4159a3;
}

.btn-add {
    background-color: #7386d5;
    color: #ffffff;
}
.btn-add:hover {
    background-color: #a5b6ff;
}

a.asc:after, a.desc:after {
    content: '.';
    width: 1.5rem;
    margin-left: 0.5rem;
    background-image: url("../icons/solid/sort-alpha-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
}

a.desc:after {
    background-image: url("../icons/solid/sort-alpha-down-alt.svg");
}

.grid-view th a, .grid-view td a {
    color: #7386d5;
}

.relations-list td > a {
    color: #4159a3;
}

.grid-view th a:hover, .grid-view td a:hover, .relations-list td > a:hover {
    color: #4159a3;
}

.grid-view td select {
    width: fit-content;
}

.action-buttons {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action-buttons h1 {
    margin-right: auto;
    font-style: italic;
    color: #4159a3;
}

.action-buttons a, .action-buttons button {
    margin-right: 7px;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.action-buttons img {
    margin-right: 10px;
}

.action-buttons .btn-primary {
    background-color: #4159a3;
    color: #a5b6ff;
    border: 1px solid #7386d5;
}

.action-buttons .btn-primary:hover {
    background-color: #7386d5;
    border-color: #4159a3;
    color: #ffffff;
}

.action-buttons .btn-danger {
    background-color: #8b4747;
    color: #ffb6a5;
    border: 1px solid #ab6767;
}

.action-buttons .btn-danger:hover {
    background-color: #ab6767;
    color: #ffffff;
    border-color: #8b4747;
}

.action-buttons .btn-success {
    background-color: #478b74;
    color: #a5ffb6;
    border: 1px solid #276b54;
}

.action-buttons .btn-success:hover {
    background-color: #a5ffb6;
    color: #ffffff;
    border-color: #478b74;
}

.action-buttons i {
    line-height: unset;
}

.form-group.has-error .help-block {
    color: #ab6767;
    font-style: italic;
    font-size: 0.8em;
}

.progress-bar {
    background-color: #478b74;
}

/* Material form */

.material-form > .material-photo {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.material-form > .material-photo > img {
    width: 100px;
    border: 3px solid #a5b6ff;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
}

.material-form > .material-photo > img:hover {
    fill: #6d7fcc;
    border-width: 3px;
    box-shadow: inset 100px 100px 0 rgba(165, 182, 255, 0.2);
}

.material-index .grid-view th {
    white-space: break-spaces;
    vertical-align: top;
}

/* Cell-editable */

.cell-editable a {
    float: right;
}

.cell-editable a > i {
    color: #7386d5;
}

.cell-editable a:hover > i {
    color: #4159a3;
}

.cell-editable > form,
.cell-editable > .cell-editable__icon_save,
.cell-editable > .cell-editable__icon_cancel {
    display: none;
}

.cell-editable > .cell-editable-value {
    margin-right: auto;
}

.cell-editable.active > .cell-editable-value,
.cell-editable.active > .cell-editable__icon_edit {
    display: none;
}

.cell-editable.active > form,
.cell-editable.active > .cell-editable__icon_save,
.cell-editable.active > .cell-editable__icon_cancel {
    display: block;
}

.cell-editable-value {
    padding-right: 3px;
}

.cell-editable__icon_edit,
.cell-editable__icon_save,
.cell-editable__icon_cancel {
    padding: 2px;
}

.cell-editable .cell-editable__error-messages {
    display: none;
    position: absolute;
    z-index: 1;
    background: #ffb6a5;
    color: #8b4747;
    height: auto;
}

.cell-editable .cell-editable__error-messages.active {
    display: block;
    border: 1px solid #8b4747;
    padding: 8px;
    border-radius: 5px;
}

/* Material-import */
.info-block a {
    color: grey;
    left: 95%;
    background-color: transparent;
}

.material-index tr.low-quantity {
    background-color: #ffb6a5;
}

/* Common */

.of-auto {
    overflow: auto;
}

.before-icon {
    position: absolute;
    left: 1px;
    font-weight: bold;
}

.table-caption {
    margin-top: 3rem;
    font-style: italic;
    color: #4159a3;
    font-size: 1.2rem;
    font-weight: bold;
}

select[readonly]
{
    pointer-events: none;
}
